<div id="infeccion" class="span4 container" style="border: 1px solid #ccc;">
	<blockquote>
		<strong><p class="lead">Infeccion <a class="btn" ng-click=""><i class="icon-plus"></i></a></p></strong>
	</blockquote>
	<div class="content" ng-show="infeccion != null">
		<div>
			Nombre
			<input type="text" class="nombre" ng-model="infeccion.nombre"/>
		</div>
		<div>
			Cultivos:
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>Cultivo</th>
					<th>Realizado</th>
					<th>Resultado</th>
				</thead>
				<tbody>
					<tr class="hemocultivos">
						<td>HEMOCULTIVOS</td>
						<td><input type="checkbox" ng-model="infeccion.hemocultivos.realizado" class="realizado"/></td>
						<td><input type="checkbox" ng-model="infeccion.hemocultivos.positivo" class="positivo"/></td>
					</tr>
					<tr class="urocultivo">
						<td>UROCULTIVO</td>
						<td><input type="checkbox" ng-model="infeccion.urocultivo.realizado" class="realizado"/></td>
						<td><input type="checkbox" ng-model="infeccion.urocultivo.positivo" class="positivo"/></td>
					</tr>
					<tr class="ascitis">
						<td>ASCITIS</td>
						<td><input type="checkbox" ng-model="infeccion.ascitis.realizado" class="realizado"/></td>
						<td><input type="checkbox" ng-model="infeccion.ascitis.positivo" class="positivo"/></td>
					</tr>
				</tbody>
			</table>
			<div class="ascitis" ng-show="infeccion.ascitis.realizado">
				Gasa: <input type="checkbox" ng-model="infeccion.ascitis.gasa" id="gasa"/>
				Proteinas totales: <input type="text" ng-model="infeccion.ascitis.proteinas_totales" id="proteinas"//>
				Recuento de neutrofilos: <input type="number" ng-model="infeccion.ascitis.recuento_de_neutrofilos" id="recuento_de_neutrofilos"/>
				Citologico: <input type="text" ng-model="infeccion.ascitis.citologico" id="citologico"/>
			</div>
			<otros-cultivos></otros-cultivos>
			<div>
				Shock Septico
				<input type="checkbox" ng-model="infeccion.shock_septico"/>
			</div>
			<div>
				Curación
				<input type="checkbox" ng-model="infeccion.curacion"/>
			</div>
			<div>
				<a ng-click="update()" class="btn btn-primary" id="guardar">Guardar</a>
			</div>
		</div>
	</div>
	<table class="table status" ng-show="httpStatus != null">
		<tr ng-class="httpStatus">
			<td>{{ httpMessage }}</td>
		</tr>
	</table>
</div>