<div>
	<table class="table table-striped table-bordered table-hover table-condensed otrosCultivos" style="table-layout:fixed">
		<thead>
			<th>Agregar <a class="btn" id="newCultivo" ng-click="newCultivo()"><i class="icon-plus"></i></a></th>
			<th style="width:30%">Resultado</th>
			<th style="width:20%"></th>
		</thead>
		<tbody>
			<tr ng-repeat="cultivo in infeccion.cultivos" class="otrosCultivos">
				<td><input type="text" ng-model="cultivo.nombre" style="width:90%"></td>
				<td><input type="checkbox" ng-model="cultivo.positivo"></td>
				<td><button type="button" class="close deleteCultivo" ng-click="delete(cultivo)">×</button></td>
			</tr>
			<tr class="newForm" ng-show="newFormEnabled">
				<td>
					<input type="text" style="width:90%" ng-model="nuevoCultivo.nombre" placeholder="Nombre">
				</td>
				<td>
					<input type="checkbox" ng-model="nuevoCultivo.positivo">
				</td>
				<td><a ng-click="addCultivo()" id="addCultivo" class="btn btn-primary">OK</a></td>
			</tr>
			<tr ng-show="nuevoCultivo.httpResponse != null">
				<td colspan="3">
					<div class="alert alert-{{ nuevoCultivo.httpResponse }}">
		              	<a type="button" class="close" ng-click="nuevoCultivo.httpResponse = null">×</a>
		              	<strong>Atencion!</strong> {{ nuevoCultivo.httpMessage }}
		            </div>
	            </td>
			</tr>
		</tbody>
	</table>
</div>